<h1>Available Products</h1>
<div class="categories">
  <h2>Categories</h2>
  <ul>
    <% Category.all.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
</div>
<div class="products">
  <% @products.each do |product| %>
    <div class="product">
      <h2><%= link_to product.name, product_path(product) %></h2>
      <p><%= product.description %></p>
      <p>Price: <%= number_to_currency(product.price) %></p>
    </div>
  <% end %>
</div>
